:root {
    --cream-green:                  #EFFAF1;
    --nyanza-green:                 #D8F3DC;
    --turquoise-lightGreen:         #B7E4C7;
    --turquoise-green:              #95D5B2;
    --ocean-green:                  #74C69D;
    --mint-green:                   #52B788;
    --illuminatingEmerald-green:    #40916C;
    --bottle-green:                 #2D6A4F;
    --msu-green:                    #1B4332;
    --darkJungle-green:             #081C15;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body{
    margin:0;
    padding:0;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    
    width: 100%;
    height:100%;
    font-family: 'Montserrat', sans-serif;

}

#root {
    color: var(--darkJungle-green);
}

.home-input {
    text-align: center;
    width: 336px;
    height: 48px;
    display: grid;
    border-radius: 24px;
    border: solid 2px rgba(0,0,0,.07);
    margin: 12px auto;
    outline: none;
}

.home-notfound {
    text-align: center;
}
.comidaList-container {
    display: grid;
    grid-template-columns: calc(100%/2) calc(100%/2);
    margin: 12px;
    scroll-snap-type: y mandatory;
    height: calc(100%+150px);
}
header {
    backdrop-filter: blur(32px);
    width: 100%;
    height: 64px;
    background: rgba(0,0,0,.3);
    z-index: 100;
    display:grid;
    align-items: center;
}

.fa-house {
    position: fixed;
    backdrop-filter: blur(16px);
    height: 9vw;
    min-height: 48px;
    min-width: 48px;
    max-height: 84px;
    max-width: 84px;
    width: 9vw;
    border-radius: 50%;
    background: rgba(0,0,0,.7);
    z-index: 100;
    bottom: 24px;
    right:6px;
    display:grid;
    place-items: center;
    color:#fff;
    transition: .3s;
}
.fa-house:hover {
    background: rgba(0,0,0,.55);
    color: rgba(255,255,255,.8);
}

html{
    scroll-behavior: smooth;
}

.home-filters {
    margin: 12px;
    text-align: center;
}

.home-filters span {
    margin: 0 4px 0 0
}

@media (min-width:950px) {
    .comidaList-container {
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        margin: 12px;
        scroll-snap-type: y mandatory;
        height: calc(100%+150px);
    }
    .home-input {
        width: 70%;
    }
}

@media (min-width:1100px) {
    .comidaList-container {
        display: grid;
        grid-template-columns: calc(100%/4) calc(100%/4) calc(100%/4) calc(100%/4);
        margin: 12px;
        scroll-snap-type: y mandatory;
        height: calc(100%+150px);
    }
}

@media (min-width:1100px) {
    .comidaList-container {
        display: grid;
        grid-template-columns: calc(100%/5) calc(100%/5) calc(100%/5) calc(100%/5) calc(100%/5);
        margin: 12px;
        scroll-snap-type: y mandatory;
        height: calc(100%+150px);
    }
}